# Compiled python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/
ENV/

# Logs and local db files
*.log
db.sqlite3

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
*/node_modules/
*/bower_components/
*/jspm_packages/

# Distribution files
/dist/
/build/
*.egg-info/
*.egg

# Other
*.bak
*.swp
.DS_Store